@model Music_Shop.Models.Product

<h2>Usuń produkt</h2>

<div class="alert alert-warning">
	Czy na pewno chcesz usunąć produkt: <strong>@Model.Name</strong>?
</div>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Tak, usuń</button>
	<a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>